<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-links">
          <div class="company-logo-txt" style="width: 22%;">
            <a href="" style="font-size: 26px;">GoMechanic</a>
          </div>
          <div class="nav-link">
            <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </div>
          <div class="nav-link">
            <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
          </div>
          <div class="nav-link ">
            <a routerLink="socials" routerLinkActive="active" ariaCurrentWhenActive="page">Socials</a>
          </div>
          <div class="nav-link">
            <a href="">More</a>
          </div>
        </div>
        <div class="user-auth-link">
          <div class="reg-link">
            <a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">Registration</a>
          </div>
          <div class="log-in-link">
            <a href="logIn">Log In</a>
          </div>
        </div>
    </div>
</body>
</html>
